{% extends '@admin/layout.twig' %}

{% block title 'Accueil Admin' %}
{% block body  %}
    <h1>Administration</h1>


    <p class="text-right">
        <a href="{{ path(routePrefix~'.create') }}" class="btn btn-primary">Ajouter un article</a>
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr style="text-align: center">
                <td>Titre</td>
                <td>Catégorie</td>
                <td style="text-align: center">Dernière maj</td>
                <td style="text-align: center">Action</td>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr style="text-align: center">
                    <td>{{ item.name }}</td>
                    <td>{{ item.category_name }}</td>
                    {% if item.updated_at %}
                        <td>{{ item.updated_at | ago }}</td>
                    {% else %}
                        <td style="text-align: center">-</td>
                    {% endif %}
                    <td>
                        <a href="{{ path(routePrefix~'.edit', {id: item.id}) }}" class="btn btn-primary">Editer</a>
                        <form style="display: inline" action="{{ path(routePrefix~'.delete', {id: item.id}) }}" method="POST" onsubmit="return confirm('Confirmer suppression de \'{{ item.name }}\'.')">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ paginate(items, routePrefix~'.index') }}
{% endblock %}